repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.8
    hooks:
      - id: ruff
        alias: ruff-include-sorting
        name: Check include sorting (ruff)
        args: ['check', '--select', 'I', '--fix', '.']
      - id: ruff-format
        name: Check formatting (ruff)
        args: ['.']
      - id: ruff
        alias: ruff-linting
        name: Linting (ruff)
        files: ^pedpy/

      # Manual hooks, for checking formatting without changing files
      - id: ruff
        alias: ruff-include-sorting-dry
        name: Check include sorting (ruff)
        args: ['check', '--select', 'I', '.']
        stages: [manual]
      - id: ruff-format
        alias: ruff-format-dry
        name: Check formatting (ruff)
        args: ['.', '--check']
        stages: [manual]


  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2  # Use the latest version of mypy available at the time
    hooks:
      - id: mypy
        name: Check type hints (mypy)
        additional_dependencies: [
            "numpy~=2.1",
            "pandas~=2.2.3",
            "Shapely~=2.0.6",
            "scipy~=1.14",
            "matplotlib~=3.9",
            "h5py~=3.11"
        ]
        exclude: "(^helper/|^docs/|^scripts/|^tests/)"
