numpy~=2.1
pandas~=2.2.3
Shapely~=2.0.6
scipy~=1.14
matplotlib~=3.9
h5py~=3.11.0

# testing
pytest~=8.3
pytest-mock~=3.14
pytest-cov~=5.0
 
# build tools
setuptools~=75.1
click~=8.1
build~=1.1

# ci
mypy~=1.11
mypy-extensions==1.0
ruff~=0.6
pre-commit
