numpy~=1.25,<2.0
pandas[hdf5]~=2.0
Shapely~=2.0
scipy~=1.11
matplotlib~=3.7
tables~=3.9.0

# testing
pytest~=7.4
pytest-mock~=3.11
h5py==3.10.0

# build tools
versioneer==0.29
setuptools>=65.5
click~=8.1
build==0.10

# ci
black[jupyter]==23.7
isort==5.12
pydocstyle==6.3
mypy==1.4.1
mypy-extensions==1.0
pylint~=2.17.5
