numpy>=2.1,<3.0
pandas>=2.2,<3.0
Shapely>=2.0,<3.0
scipy~=1.15,<2.0
matplotlib~=3.10,<4.0
h5py~=3.13,<4.0

# testing
pytest~=8.4
pytest-mock~=3.14
pytest-cov~=6.2
 
# build tools
setuptools>=78.1.1,<81.0
click~=8.2
build~=1.2

# ci
mypy==1.16.1
mypy-extensions==1.1.0
ruff==0.12.0
pre-commit==4.2.0
